.preloader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* semi-transparent black */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    /* make sure it's on top of other elements */
}
.preloader-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loading-text {
    margin-top: 10px;
    color: white;
    /* Change to fit your design */
    font-size: 1.5em;
}