html {
  scroll-behavior: smooth;
}
 body {
   font-family: Arial, sans-serif;
 }
.form-style{
    display: grid !important;
}
.m-25{
  margin:25px;
}
.m-top-5{
    margin-top: 5%;
}
.m-left2{
    margin-left: -2%;
}
.font-style{
    font-size: 1rem;
    font-weight: 100;
}
.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  z-index: -1; 
}

.has-success {
    padding-top: 5px;  font-size: medium;
  color: #3c763d
}

.has-warning {
    padding-top: 5px;
    font-size: medium;  color: #dd1547
}
  @media (max-width: 1000px) {
    .background-image {
      display: none;
    }
  }
  @media screen {
  .justify-content-center .width{
    width: 100%;
    }
  }
        .logo-text {
          color: rgb(13, 101, 144);
          /* Màu chữ */
          font-weight: 600;
          /* Độ đậm của chữ */
          font-family: sans-serif;
          /* Kiểu chữ */
          font-size: 30px;
          /* Kích thước chữ */
    
          /* Hiệu ứng đổ bóng */
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    
          /* Thêm khoảng cách giữa các chữ cái */
          letter-spacing: 2px;
    
          /* Tạo một chút độ nghiêng cho chữ */
          transform: skew(-5deg);
    
          /* Tạo thêm hiệu ứng nền */
          background: linear-gradient(to right, #0d6590, #1e90ff);
          -webkit-background-clip: text;
          color: transparent;
        }
  .logo-image {
    position: inherit;
    width: 50%;
    height: 50%;
    object-fit: cover; 
  }
  .background-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .container {
    width: 100%;
    height: 100%;
  }
  .div-logo{
    width: 50%;
  }

  .back{
    width: 50px !important;
    height: 50px !important;
  }
  .biback:hover{
    background-color: #ccc;
  }

  .m-top-back{
  margin-top: revert;
}
.input-otp{
  border-radius: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  text-align: center;
  border: 1px solid rgb(173, 169, 169);
}
@media (max-width: 1000px) {
  .input-otp {
    width: 20px;
  height: 20px;
  }
}
.input-otp:focus {
  border: 1px solid black; /* Border đen khi ô input được focus */
}
.center-table {
  margin: 0 auto; /* Để căn giữa table */
}

.table-container {
  display: flex;
  justify-content: center;
}
.table-container table tbody tr td {
  padding: 5px 30px; /* Cách trái phải 5px */
  border: 1px solid #ccc; /* Border cho mỗi ô */
}
.table-container table tbody tr td:hover {
  background-color: #f0f0f0; /* Màu nền khi hover */
}

.time-table {
  border-collapse: collapse;
}

.time-table th,
.time-table td {
  padding: 10px;
  border: 1px solid #000;
}
.past-time{
  background-color: rgb(230, 230, 230);
  opacity: 0.5;
}
.past-time:hover{
  cursor: not-allowed;
}
.time:hover{
  cursor: pointer;
}
.button{
  border: none;
  background-color: white;
  opacity: 0.5;
}
.button:hover{
  opacity: 1;
}
.displayflex{
  justify-content: center;
  display: flex;
}
.text-ali-center{
  text-align: center;
}
.modal.show .modal-dialog {
  max-width: 900px;
  transform: translate(0px, 0px);
}

.modal-content {
  width: auto;
}
.alert {
  position: absolute;
  top: 100px;
  right: 100px;
  width: 400px;
}
.react-calendar {
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 0.375rem solid black;
}
.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: bold;
}
.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background: #e6e6e6;
}

.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}

.react-calendar__month-view__days__day--neighboringMonth,
.react-calendar__decade-view__years__year--neighboringDecade,
.react-calendar__century-view__decades__decade--neighboringCentury {
  color: #757575;
}
.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
}
.react-calendar__tile--now {
  background: #e5e58f !important;
}
.react-calendar button {
  background-color: white;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #dbdb5a;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: #dbdb5a;
}

.btn-pagination{
  padding: 10px;
  margin: 5px;
  width: "auto";
  border-radius: 10px;
  cursor: pointer;
   align-content: center;
  }
.btn-pagination:hover{
  background-color: gainsboro;

}
.payment-methods {
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: large;
}

.payment-methods h4 {
  text-align: center;
}

.method {
  margin-bottom: 10px;
}

.method label {
  margin-left: 5px;
}

.method input[type="radio"] {
  margin-right: 5px;
}

.method-icon {
  width: 34px;
  margin-right: 10px;
}

.payment-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}

.cash-btn {
  background-color: green;  color: rgb(255, 255, 255);}

.paypal-btn {
  background-color: green;
  color: white;
}

.container-selected-value{
  height: 200px;
  overflow-y: scroll;
}
.selected-value{
  padding: 5px;
  margin: 5px;
  border: 1px solid rgb(173, 169, 169);
  border-radius: 5px;
  display: inline-block;
  white-space: nowrap;
  overflow-wrap: break-word;
}
.remove-button:hover{
  border: 3px solid rgb(255, 255, 255);
  background-color: rgb(247, 137, 118);
}
.remove-button {
  background-color: antiquewhite;
  border: none;
}